<!DOCTYPE html>
<html lang=en>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    {% load static %}
    <link href="{% static 'css/basic_module/app.c76ea2e5.css' %}" rel=preload as=style>
    <link href="{% static 'css/basic_module/chunk-vendors.9cb04985.css' %}" rel=preload as=style>
    <link href="{% static 'js/basic_module/app.16d844ae.js' %}" rel=preload as=script>
    <link href="{% static 'js/basic_module/chunk-vendors.867a22b7.js' %}" rel=preload as=script>
    <link href="{% static 'css/basic_module/chunk-vendors.9cb04985.css' %}" rel=stylesheet>
    <link href="{% static 'css/basic_module/app.c76ea2e5.css' %}" rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but vue-ol-demo doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong></noscript>
<div id=app></div>
<script src="{% static 'js/basic_module/chunk-vendors.867a22b7.js' %}"></script>
<script src="{% static 'js/basic_module/app.16d844ae.js' %}"></script>
</body>
</html>