<html>

<head>
    <meta charset="UTF-8">
    <title>Environmental Monitoring System</title>
    <meta name="description" content="Login - Register Template">
    <meta name="author" content="Lorenzo Angelino aka MrLolok">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {#        <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">#}
        <script type="text/javascript" src="{% static 'js/rememberme.js' %}"></script>
  <script src="http://cdn.bootcss.com/jquery/1.12.3/jquery.min.js"></script>
  <script src="{% static 'js/layer.js' %}"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>

</head>

<body>
<div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>


<div class="topcorner">
    <form>
        <label for="lang-switch">
            <span lang="en">Language</span>
            <span lang="zh">页面语言</span>

        </label>
        <select id="lang-switch">
            <option value="en">English</option>
            <option value="zh" selected>中文</option>
        </select>
    </form>
</div>




{% if user.is_authenticated %}

<!--    <div style="-->
<!--        display: table-cell;-->
<!--        width: 100%;-->
<!--        height: 100%;-->
<!--        padding: 10px;-->
<!--        border: 3px dashed #1c87c9;-->
<!--        vertical-align: middle;-->
<!--        text-align: center;-->
<!--        z-index:-1;-->
<!--        position: relative;-->
<!--">-->

<!--        <h2 lang="zh">您已登录, 你的用户名为 <font color="red">{{ user.username }}</font>。</h2> </br>-->
<!--        <h2 lang="en">You are already logged in, and your username is <font color="red">{{ user.username }}</font>-->
<!--        </h2> </br>-->
<!--    </div>-->


{% else %}
    {#        <p>你还没有登录，请#}
    {#            <button class="btn btn-default"><a href="{% url 'login' %}?next={{ request.path }}">登录</a>#}
    {#            </button>#}
    {#            或者#}
    {#            <button class="btn btn-default"><a href="{% url 'users:register' %}?next={{ request.path }}">注册</a>#}
    {#            </button>#}
    {#        </p>#}

    <div id="container-login">
        <div id="title">
            {#            <i class="material-icons lock">lock</i>#}
            <a href="{% url 'index' %}" style="text-decoration:none; color: white;">
                <span lang="zh"> 环境监测管理系统</span></a>
            <a href="{% url 'index' %}" style="text-decoration:none; color: white;">
                <span lang="en"> EMS Login</span></a>

        </div>


        <form class="form" action="{% url 'login' %}" method="post" autocomplete="on">
            {% csrf_token %}

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">face</i>
                </div>

                <input name="username" placeholder="Username" type="text" required class="validate"
                       id="id_username"/>
            </div>

            <div class="clearfix"></div>

            <div class="input">
                <div class="input-addon">
                    <i class="material-icons">vpn_key</i>
                </div>
                <input name="password" placeholder="password" type="password" required class="validate"
                        id="id_password">
            </div>

            <div class="remember-me">
                <input type="checkbox" value="lsRememberMe" id="rememberMe">
                <span style="color: #DDD" lang="en">Remember Me</span>
                <span style="color: #DDD" lang="zh">记住我</span>
            </div>

            {% for field in form %}
{#                {{ field.label_tag }}#}
                {#            {{ field }}#}
                {{ field.errors }}
                {#            {% if field.help_text %}#}
                {#                <p class="help text-small text-muted">{{ field.help_text|safe }}</p>#}
                {#            {% endif %}#}
            {% endfor %}
            <span><input type="submit" id="loginBtn1" lang="en" value="Login" autofocus="autofocus" onclick="lsRememberMe()"/></span>
            <span><input type="submit" id="loginBtn"lang="zh" value="登入【ENTER】" autofocus="autofocus" onclick="lsRememberMe()" /></span>
            <input type="hidden" name="next" value="{{ next }}"/>

        </form>
        <div class="forgot-password">
            <span lang="en"><a href="{% url 'password_reset' %}">💔Forgot your password?</a></span>
            <span lang="zh"><a href="{% url 'password_reset' %}">💔忘记密码？</a></span>

        </div>


        <div class="register">
            <span lang="en">  Don't have an account yet?</span>
            <span lang="zh">  你不会还没有账户吧？</span>
            <a href="{% url 'auth_app:register' %}">
                <span lang="en"><button
                        id="register-link">Register here</button></span>
                <span lang="zh"><button
                        id="register-link">立即注册</button></span>
            </a>
        </div>
        <div class="privacy" >
            <span lang="en"> <a href="javascript:;" id="en-privacy">Privacy Policy</a></span>
            <span lang="zh"> <a href="javascript:;" id="zh-privacy">隐私策略</a></span>
        </div>
    </div>

{% endif %}


<script src="{% static 'js/base.js' %}"></script>
<script src="{% static 'js/rememberme.js' %}"></script>



<!-- 中英文切换JS -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
    $('[lang]').hide(); // hide all lang attributes on start.
    $('[lang="zh"]').show(); // show just zhrean text (you can change it)
    $('#lang-switch').change(function () { // put onchange event when user select option from select
        var lang = $(this).val(); // decide which language to display using switch case. The rest is obvious (i think)
        switch (lang) {
            case 'en':
                $('[lang]').hide();
                $('[lang="en"]').show();
                break;
            case 'zh':
                $('[lang]').hide();
                $('[lang="zh"]').show();
                break;
            default:
                $('[lang]').hide();
                $('[lang="zh"]').show();
        }
    });
</script>

<div style="font-size: small; position: absolute; bottom: 10px; right: 10px;"> All Rights Reserved © 2021 by AGou-ops.
</div>

</body>

</html>
