<html>

<head>
    <meta charset="UTF-8">
    <title>Forget password</title>
    <meta name="description" content="Login - Register Template">
    <meta name="author" content="Lorenzo Angelino aka MrLolok">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'css/font.css' %}" rel="stylesheet">
    {#        <link rel="stylesheet" href="https://unpkg.com/mobi.css/dist/mobi.min.css">#}
<!--    <script type="text/javascript" src="{% static 'rememberme.js' %}"></script>-->

</head>

<body>
<div class="lines">
    <div class="line"></div>
    <div class="line"></div>
    <div class="line"></div>
</div>


<div class="topcorner">
    <form>
        <label for="lang-switch">
            <span lang="en">Language</span>
            <span lang="zh">页面语言</span>

        </label>
        <select id="lang-switch">
            <option value="en">English</option>
            <option value="zh" selected>中文</option>
        </select>
    </form>
</div>


<div id="forget-pwd" style="width: 390px !important;">
    <div id="title">
        <a style="text-decoration:none; color: white;">
            <span lang="zh"> 密码重置链接已经发送</span></a>
        <a style="text-decoration:none; color: white;">
            <span lang="en"> Your password reset link has been sent.</span></a>

    </div>
    </br>
    <span lang="zh">
        <ul><li>如果您输入的邮件地址所对应的账户存在，设置密码的提示已经发送邮件给您，您将很快收到。</li>
            </br>
            <li> 如果你没有收到邮件, 请确保您所输入的地址是正确的, 并检查您的垃圾邮件文件夹。</li></ul>
        </br>  </span>
    <span lang="en">
<ul><li>If the account corresponding to the e-mail address you entered exists, the prompt to set the password has been sent to you by e-mail, and you will receive it soon.</li>
    </br>
    <li>        If you do not receive the email, please make sure that the address you entered is correct, and check your spam folder.</li></ul>
           </span>

</div>

<!-- 中英文切换JS -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js"
        integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script>
    $('[lang]').hide(); // hide all lang attributes on start.
    $('[lang="zh"]').show(); // show just zhrean text (you can change it)
    $('#lang-switch').change(function () { // put onchange event when user select option from select
        var lang = $(this).val(); // decide which language to display using switch case. The rest is obvious (i think)
        switch (lang) {
            case 'en':
                $('[lang]').hide();
                $('[lang="en"]').show();
                break;
            case 'zh':
                $('[lang]').hide();
                $('[lang="zh"]').show();
                break;
            default:
                $('[lang]').hide();
                $('[lang="zh"]').show();
        }
    });
</script>

<div style="font-size: small; position: absolute; bottom: 10px; right: 10px;"> All Rights Reserved © 2021 by AGou-ops.
</div>

</body>

</html>